@mixin AbsoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin Size($a, $b:false){
    width:$a + px;
    @if($b) {
      height: $b + px;
    }
    @else {
      height: $a + px;
    }
}
