include ../partials/mixins
include ../partials/variables

doctype html
html(lang="ua=UA")
    head
        title #{title}
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
    body
        h1 Hello world!
        ul
            li
            li
            li
            li